{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_image %}
    {% set active = config('ICTECHQuickViewProductVideo.config.active') %}
    {% set quickViewVideoPLP = config('ICTECHQuickViewProductVideo.config.productlistingpage') %}
    {% if quickViewVideoPLP == 'rightTop' %}
        {% set overVideoButton = 'rightTop' %}
    {% elseif quickViewVideoPLP == 'leftTop' %}
        {% set overVideoButton = 'leftTop' %}
    {% elseif quickViewVideoPLP == 'leftBottom' %}
        {% set overVideoButton = 'leftBottom' %}
    {% endif %}
    {% set quickViewVideoPLPActivate = config('ICTECHQuickViewProductVideo.config.productlistingpageActive') %}
    {% set video = product.extensions.productOverviewVideo.media.url %}

    <div class="listingProductVideoTop">
        {% if active == "true" and  video != null  and overVideoButton != 'leftBottom' %}
                <!-- Button trigger modal -->
                <div class="quick-view-video">
                    <button type="button" data-toggle="modal" data-target="#exampleModal"  class="btn btn-primary quickviewvideoListing {{ overVideoButton }}" id="quickviewvideo" name="quickviewvideo" value="quickviewvideo"
                            select-video-button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16"> <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/> </svg>
                    </button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content productquickviewvideoListing">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="videoShowModalListing">
                                    <video controls src="{{ product.extensions.productOverviewVideo.media.url }}" class="mt-4 quickviewvideoModelListing" >
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {%endif %}
        </div>

{{ parent() }}

    <div class="listingProductVideoBottom">
        {% if active == "true" and  video != null  and overVideoButton == 'leftBottom' %}
            <!-- Button trigger modal -->
            <div class="quick-view-video">
                <button type="button" data-toggle="modal" data-target="#exampleModal"  class="btn btn-primary quickviewvideoListing {{ overVideoButton }}" id="quickviewvideo" name="quickviewvideo" value="quickviewvideo"
                        select-video-button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16"> <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/> </svg>
                </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content productquickviewvideoListing">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="videoShowModalListing">
                                <video controls src="{{ product.extensions.productOverviewVideo.media.url }}" class="mt-4 quickviewvideoModelListing" >
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {%endif %}
    </div>
{% endblock %}




